.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 1.5rem;
  gap: 2rem;
  background-color: var(--background-color-primary);
  // box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset,
  //   20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
  .header-user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    .header-user-block-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.625rem;
      font-weight: 400;
      font-size: 1rem;
      &:hover {
        .header-user-block-item__link {
          color: var(--background-color-other);
        }
        #shopping_cart_icon {
          transition: 0.25s all;
          fill: var(--background-color-other);
        }
        #account_icon {
          transition: 0.25s all;
          stroke: var(--background-color-other);
        }
      }

      &__icon {
        width: 1.5rem;
      }
      &__link {
        transition: 0.25s all;
        text-decoration: none;
        color: var(--color-text);
      }
    }
  }
  .header-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    .header-settings-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      &__icon {
        width: 1.725rem;
        cursor: pointer;
      }
    }
  }
}
