@use "../../assets/styles/colors.scss" as *;

.navbar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 100vh;
  padding-left: 1rem;
  gap: 0.125rem;
  background-color: var(--background-color-primary);
  // box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);
  .navbar-item {
    display: flex;
    margin-left: 0.325rem;
    flex-direction: row;
    align-items: center;
    padding: 0.325rem;
    border: transparent;
    text-align: end;
    border-radius: 0.325rem;
    gap: 0.5rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      .navbar-item__link {
        color: var(--background-color-secondary);
      }
      #home_icon,
      #replacement_icon,
      #referral_icon {
        transition: 0.5s all;
        fill: var(--background-color-secondary);
      }
      #account_icon,
      #blog_icon {
        transition: 0.5s all;
        stroke: var(--background-color-secondary);
      }
    }
    &__icon {
      width: 1.325rem;
      transition: 0.25s all;
      fill: #fff;
    }
    &__link {
      text-decoration: none;
      color: var(--color-text);
      transition: 0.25s all;
    }
  }
}
