.light {
  --color-text: #000000;
  --color-text-opposite: #ffffff;
  --background-color-primary: #fffaff;
  --background-color-secondary: #449dd1;
  --background-color-other: #f79256;
  --background-color-input: #449dd1;
}
.dark {
  --color-text: #ffffff;
  --color-text-opposite: #000000;
  --background-color-primary: #44443c;
  --background-color-secondary: #adb6c4;
  --background-color-other: #cef7a0;
  --background-color-input: #449dd1;
}
