// --background-color-primary: #fffaff;
// --background-color-secondary: #050172;
// --background-color-other: #fddf5b;
// --background-color-input: #449dd1;
// --color-text: #ffffff;
// --color-text-opposite: #000000;
// --background-color-primary: #2e2b34;
// --background-color-secondary: #3891a6;
// --background-color-other: #fde74c;
// --background-color-input: #449dd1;

// OLD THEME (CHANGED AVAILABLE)
// .light {
//   --color-text: #000000;
//   --color-text-opposite: #ffffff;
//   --background-color-primary: #fffaff;
//   --background-color-secondary: #449dd1;
//   --background-color-other: #f79256;
//   --background-color-input: #449dd1;
// }
// .dark {
//   --color-text: #ffffff;
//   --color-text-opposite: #000000;
//   --background-color-primary: #44443c;
//   --background-color-secondary: #3891a6;
//   --background-color-other: #fde74c;
//   --background-color-input: #449dd1;
// }

// New THEME (CHANGED AVAILABLE)
.light {
  --color-text: #000000;
  --color-text-opposite: #ffffff;
  --background-color-primary: #fffaff;
  --background-color-secondary: #625aff;
  --background-color-other: #000000;
  --background-color-input: #449dd1;
}
.dark {
  --color-text: #ffffff;
  --color-text-opposite: #000000;
  --background-color-primary: #44443c;
  --background-color-secondary: #3891a6;
  --background-color-other: #fde74c;
  --background-color-input: #449dd1;
}

// .light {
//   --color-text: #000000;
//   --color-text-opposite: #ffffff;
//   --background-color-primary: #fffaff;
//   --background-color-secondary: #449dd1;
//   --background-color-other: #f79256;
//   --background-color-input: #449dd1;
// }
// .dark {
//   --color-text: #ffffff;
//   --color-text-opposite: #000000;
//   --background-color-primary: #44443c;
//   --background-color-secondary: #adb6c4;
//   --background-color-other: #cef7a0;
//   --background-color-input: #449dd1;
// }
