.light {
  --color-text: #ffffff;
  --color-text-opposite: #000000;
  --background-color-primary: #010101;
  --background-color-secondary: #b18ff4;
  --background-color-other: #ffffff;
  --background-color-input: #449dd1;
}
