@use "../../assets/styles/colors.scss" as *;
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;

  margin: 0;
  // font-family: "Kanit", sans-serif;
  // font-family: "Roboto", sans-serif;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Raleway", sans-serif;
  // font-family: "Poppins", sans-serif;
  // font-family: "Lora", serif;
  font-family: "Noto Serif JP", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
